@model Hotel.Web.Models.RegisterUserModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Surname)
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Login)
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RepeatPassword)
            @Html.EditorFor(model => model.RepeatPassword)
            @Html.ValidationMessageFor(model => model.RepeatPassword)
        </div>
        <div class="form-group">
            <input type="submit" class="btn" value="Sign Up" />
        </div>
    </div>
}