@model List<Hotel.Web.Models.ClientModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(model => model[0].Name)
            </th>
            <th>
                @Html.LabelFor(model => model[0].Surname)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>
                    @Html.Raw(client.Name)
                </td>
                <td>
                    @Html.Raw(client.Surname)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new
               {
                   id = client.ClientID
               })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new
               {
                   id = client.ClientID
               })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new
               {
                   id = client.ClientID
               })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Create", "Create", null, new[] { "btn" })